body {
    margin: 60px auto;
    width: 70%;
    min-width: 600px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: inline;
    margin-right: 20px;
}

ul {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}

ul li{
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}

ol li{
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}

ol li{
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #1B4F72;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #1B4F72;
    font-color: #1B4F72;
    font-size: .8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
    padding-bottom: 20px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-size: 1em;
}

.indented {
    margin-left: 1em;
    list-style: indented;
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

table {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';    
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
  
td {
    padding: 1em;
    border: 1px solid black;
}
  
tr:hover {
    background-color: #EBF5FB;
}

table.resources {
    border: none;
    width: 100%;
}

td.resources {
    border:none;
}

.dropdown {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    float: none;
    color: #1B4F72;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #EBF5FB;
}

.dropdown: hover .dropdown-content {
    display: block;
    background-color: #EBF5FB;
}
