<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://moorec52.github.io/water-data-analysis.github.io/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://moorec52.github.io/water-data-analysis.github.io/">Home</a></li>
		        	<li><a href="https://moorec52.github.io/water-data-analysis.github.io/homework">Homework</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<table>
					<tr>
						<td>CEE 465/CEWA 565</td>
						<td style="text-align: right">Dr. Jessica Lundquist</td>
					</tr>
				</table>
			</footer>
		</body>
	</html>
