<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://moorec52.github.io/water-data-analysis.github.io/css/main.css">
		</head>
		<body>
			<div class="navbar">
	        		<a href="https://moorec52.github.io/water-data-analysis.github.io/">Home</a>
				<div class="dropdown">
					<button class="dropbtn"><a href="https://moorec52.github.io/water-data-analysis.github.io/homework">
						Homework</a></button>
						<div class="dropdown-content">
							<a href="https://moorec52.github.io/water-data-analysis.github.io/homework/HW1/">Homework 1</a>
						</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn"><a href="https://moorec52.github.io/water-data-analysis.github.io/labs">
						Labs</a></button>
						<div class="dropdown-content">
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.0">Lab 1.0</a>
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.1">Lab 1.1</a>
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.2">Lab 1.2</a>
						</div>
				</div>
				<a href="https://moorec52.github.io/water-data-analysis.github.io/resources">Resources to Learn Python Programming</a>
			</div>
													    
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>CEE 465/CEWA 565</p>
			</footer>
		</body>
	</html>
