<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://moorec52.github.io/water-data-analysis.github.io/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="https://moorec52.github.io/water-data-analysis.github.io/">Home</a></li>
					<li class="dropdown"><a href="https://moorec52.github.io/water-data-analysis.github.io/homework">Homework</a></li>
						<ul>
							<li class="dropdown-content"><a href="https://moorec52.github.io/water-data-analysis.github.io/homework/HW1">Homework 1</a></li>
						</ul>
					<div class="dropdown">
						<a href="https://moorec52.github.io/water-data-analysis.github.io/labs">Labs</a></li>
					</div>
						<div class="dropdown-content">
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.0">Lab 1.0</a>
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.1">Lab 1.1</a>
							<a href="https://moorec52.github.io/water-data-analysis.github.io/labs/lab1.2">Lab 1.2</a>
					</div>
					<li><a href="https://moorec52.github.io/water-data-analysis.github.io/resources">Resources to Learn Python Programming</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>CEE 465/CEWA 565</p>
			</footer>
		</body>
	</html>
